.Northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #EE82EE;
}

.Southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7FFFD4;
}